@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
@model Veterinerapp.Models.DB.Veteriner
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                    <h5>VETERİNER</h5>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="lead" style="color: darkblue;"><b>@Model.VeterinerAd @Model.VeterinerSoyad</b>
                            </h2>
                            <p class="text-muted"><b>Kurum: </b> @Model.Kurum.KurumAd </p>
                            <p class="text-muted"><b>Aktif Mi: </b>@(Model.VeterinerAktifMi?"Evet":"Hayır") </p>
                            <ul class="ml-4 mb-4 fa-ul text-muted">
                                <li class="small" style="color: black;"><span class="fa-li"><i
                                            class="fas fa-lg fa-building"></i></span>
                                    Address: @Model.Kurum.KurumSehir / @Model.Kurum.KurumIlce</li>
                                <li class="small" style="color: black;"><span class="fa-li"><i
                                            class="fas fa-lg fa-phone"></i></span>
                                    Phone #: @Model.VeterinerTelefon</li>
                            </ul>
                        </div>
                        <div class="col-5 text-center">
                            <img src='@(Model.VeterinerImage==null?"/images/NoImage2.png":$"data:image/png;base64,{Convert.ToBase64String(Model.VeterinerImage)}")' alt="user-avatar" class="img-circle img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">

                        <button class="btn btn-danger btn-sm" id="btnVeterinerSil">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-8">
            <div class="card-header">
                <h3 style="text-align: center;">@Model.VeterinerAd @Model.VeterinerSoyad Petler Listesi</h3>
                @* <button type="button" class="btn btn-info float-right" id="btnKurumEkle"><i class="fas fa-plus"></i>
                    Kurum
                    Ekle</button> *@
            </div>
            <div class="card-body" style="background-color:#FEFCFB; color:black;">
                <table id="tblPetListesi" style="text-align: center;" class="hover display cell-border">
                    <thead>
                        <tr>
                            <th colspan="8">Petler</th>
                        </tr>
                        <tr>
                            <th>Pet Id</th>
                            <th>Pet Sahibi</th>
                            <th>Pet Adı</th>
                            <th>Pet Cins</th>
                            <th>Pet Tur</th>
                            <th>Pet Yaş</th>
                            <th>Pet Kilo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pets)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.PetSahip.SahipAd @item.PetSahip.SahipSoyad</td>
                                <td>@item.Ad</td>
                                <td>@item.Cins</td>
                                <td>@item.Tur</td>
                                <td>@item.Yas</td>
                                <td>@item.Kilo</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-user-plus"></i> Veterineri Düzenle</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txbAd">Veteriner Adı</label>
                            <input type="text" class="form-control" id="txbAd" value="@Model.VeterinerAd">
                        </div>
                        <div class="form-group">
                            <label for="txbSoyad">Veteriner Soyadı</label>
                            <input type="text" class="form-control" id="txbSoyad" value=@Model.VeterinerSoyad>
                        </div>
                        <div class="form-group">
                            <label for="txbSoyad">Veteriner Telefon</label>
                            <input type="phone" class="form-control" id="txbTelefon" value="@Model.VeterinerTelefon">
                        </div>
                        <div class="form-group">
                            <label for="txbKullaniciAdi">Veteriner Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="txbKullaniciAdi"
                                value="@Model.VeterinerKullaniciAdi">
                        </div>
                        <div class="form-group">
                            <label for="txbSifre">Veteriner Şifresi</label>
                            <input type="text" class="form-control" id="txbSifre" value="@Model.VeterinerSifre">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="aktifCheck"
                                @(Model.VeterinerAktifMi?"checked":"")>
                            <label class="form-check-label" for="aktifCheck">Veteriner Aktif Mi</label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <span>Profil Fotoğrafı Seç</span>
                        <input type="file" id="file">
                        <button type="button" id="btnFotoEkle" class="btn btn-primary">Değişiklikleri Kaydet</button>
                        @* <button type="button" class="btn btn-primary"
                            id="btnVeterinerKaydet">DeğişiklikleriKaydet</button> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {
        $('#tblPetListesi').DataTable();
        $('#btnVeterinerKaydet').click(function () {
            var veterinerId = "@Model.VeterinerId";
            var veterinerAd = $('#txbAd').val();
            var veterinerSoyad = $('#txbSoyad').val();
            var veterinerKullaniciAdi = $('#txbKullaniciAdi').val();
            var veterinerTelefon = $('#txbTelefon').val();
            var veterinerSifre = $('#txbSifre').val();
            var aktifMi = $('#aktifCheck').is(':checked');
            console.log(aktifMi);
            var obj = { VeterinerId: veterinerId, VeterinerAd: veterinerAd, VeterinerSoyad: veterinerSoyad, VeterinerTelefon: veterinerTelefon, VeterinerKullaniciAdi: veterinerKullaniciAdi, VeterinerSifre: veterinerSifre, VeterinerAktifMi: aktifMi };
            $.ajax({
                url: '@Url.Action("VeterinerDuzenleAjax","Admin")',
                type: 'post',
                data: JSON.stringify(obj),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    if (result == 1) {
                        swal("Tebrikler!", "Veteriner Başarıyla Düzenlendi", "success").then(function () {
                            location.reload();
                        });
                    }
                },
                error: function (err) {
                    console.error(err.statusText);
                }
            });
        });
        $('#btnVeterinerSil').click(function () {
            var veterinerId = "@Model.VeterinerId";
            var obj = { VeterinerId: veterinerId };
            $.ajax({
                url: '@Url.Action("VeterinerSilAjax","Admin")',
                type: 'post',
                data: JSON.stringify(obj),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    if (result == 1) {
                        swal("Tebrikler!", "Veteriner Başarıyla Silindi", "success").then(function () {
                            location.href = "/Admin/Veterinerler"
                        });
                    }
                },
                error: function (err) {
                    console.error(err.statusText);
                }
            });
        });
        $('#btnFotoEkle').click(function () {
            var file_data = document.getElementById('file').files[0];
            var form_data = new FormData();
            form_data.append('dosya', file_data);
            form_data.append('VeterinerId',"@Model.VeterinerId");
            form_data.append('VeterinerAd',$('#txbAd').val());
            form_data.append('VeterinerSoyad',$('#txbSoyad').val());
            form_data.append('VeterinerTelefon',$('#txbTelefon').val());
            form_data.append('VeterinerKullaniciAdi',$('#txbKullaniciAdi').val());
            form_data.append('VeterinerSifre', $('#txbSifre').val());
            form_data.append('VeterinerAktifMi',$('#aktifCheck').is(':checked'));
            $.ajax({
                url: '@Url.Action("VeterinerFotoEkle","Admin")',
                cashe: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (result) {
                    console.log(result)
                    if (result == 1) {
                        swal("Tebrikler!", "Veteriner Başarıyla Güncellendi", "success").then(function () {
                            location.reload();
                        });
                    }
                },
                error: function(err){
                    console.error(err.statusText);
                }
            })
        });
    });
</script>
}
