@model Veterinerapp.Models.DB.PetSahip

<body class="wallpaper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 align-items-stretch">
        <div style="border: 5px solid azure; margin-top: 25px;">
          <div class="card-header text-muted border-bottom-0 camm">
            <h5 style="color: white; text-align: center;">@(Model!=null?Model.SahipAd+" "+Model.SahipSoyad:"")</h5>
          </div>
          <div class="card-body camm">
            <div class="row">
              <div class="col-7">
                <h2 class="lead" style="color: dark"><b>@(Model!=null?Model.SahipAd+" "+Model.SahipSoyad:"")</b>
                </h2>
                <p class="text-muted"><b style="color: white;">Kullanıcı Adı: </b><b style="color: red; font-size: 20px;">@(Model!=null?Model.KullaniciAdi:"")</b></p>
                <p class="text-muted"><b style="color: white;">Şifre: </b><b style="color: red; font-size:">@(Model!=null?Model.SahipSifre:"")</b></p>
                <ul class="ml-4 mb-4 fa-ul text-muted">
                  <li class="medium" style="color: white;"><span class="fa-li"><i style="color: #8838d3;" class="fas fa-lg fa-phone"></i></span>
                    Phone : <b style="color: red;">@(Model!=null?Model.SahipTelefon:"")</b></li>
                  <li class="medium" style="color: white;"><span class="fa-li"><i style="color: #8838d3;" class="fas fa-paw"></i></span>
                    Evcil Hayvanlar : <b style="color: red;">@(Model!=null?Model.Pets.Count()+" "+"Adet":"")</b></li>
                </ul>
              </div>
              <div class="col-5 text-center">
                <img src='~/dist/img/avatar5.png' alt="user-avatar" class="img-circle img-fluid">
              </div>
            </div>
          </div>
          <div class="card-footer camm">
            <div class="text-right">
              <button class="btn btn-info btn-sm" id="btnKullaniciDuzenle">Bilgileri Düzenle</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <h2 style="text-align: center; color: azure; background-color:#41007e; font-family: 'Bungee Shade', cursive;">PETLERİM</h2>
        <div class="card-body pb-0">
          <div class="row">
            @if(Model!=null){
                @foreach (var item in Model.Pets)
                  {
                    <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                      <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0" style="background-color: #4f0099;">
                          <h5 style="color: azure; text-align:center;"><i class="fas fa-dog"></i> Pet <i class="fas fa-cat"></i></h5>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-7">
                              <h2 class="lead" style="color: dark;"><b>@item.Ad</b>
                              </h2>
                              <p class="text-muted"><b>Cins: </b> @item.Cins</p>
                              <p class="text-muted"><b>Tür: </b>@item.Tur</p>
                              <ul class="ml-4 mb-4 fa-ul text-muted">
                                <li class="medium" style="color: black;"><span class="fa-li"><i class="fas fa-user"></i></span>
                                  Veteriner Bilgisi:  <b style="color: #38d39f">@(item.Veteriner==null?"Veteriner Atanmadı":item.Veteriner.VeterinerAd+" "+item.Veteriner.VeterinerSoyad )</b></li>
                              </ul>
                            </div>
                            <div class="col-5 text-center">
                              <img
                              src='@(item.Foto==null?"/images/NoImage2.png":$"data:image/png;base64,{Convert.ToBase64String(item.Foto)}")'
                              alt="user-avatar" class="img-circle img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="card-footer" >
                          <div class="text-right">
                            <a href="/Kullanici/PetIndex/@item.Id" class="btn btn-primary btn-sm">
                              <i class="fas fa-paw"></i> Detay
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
            }            
          </div>
        </div>
      </div>
    </div>

    @* MODAL *@
    <div class="modal" tabindex="-1" role="dialog" id="modalKullaniciDuzenle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Bilgilerimi Düzenle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="txbKullaniciAd" class="form-label">Ad</label>
                <input type="text" class="form-control" id="txbKullaniciAd" value='@(Model!=null?Model.SahipAd:"")'>
              </div>
              <div class="mb-3">
                <label for="txbKullaniciSoyad" class="form-label">Soyad</label>
                <input type="text" class="form-control" id="txbKullaniciSoyad" value='@(Model!=null?Model.SahipSoyad:"")'>
              </div>
              <div class="mb-3">
                <label for="txbKullaniciTelefon" class="form-label">Telefon</label>
                <input type="phone" class="form-control" id="txbKullaniciTelefon" value='@(Model!=null?Model.SahipTelefon:"")'>
              </div>
              <div class="mb-3">
                <label for="txbKullaniciSifre" class="form-label">Kullanıcı Şifresi</label>
                <input type="text" class="form-control" id="txbKullaniciSifre" value='@(Model!=null?Model.SahipSifre:"")'>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" id="btnKullaniciKaydet">Kaydet</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

@section Styles{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link rel="stylesheet" href="~/css/kullanici.css" />
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
}
@section Scripts{
<script>
  $(document).ready(function () {
    $('#btnKullaniciDuzenle').click(function () {
      $('#modalKullaniciDuzenle').modal('show');
    });
    $('#btnKullaniciKaydet').click(function () {
      var kulllaniciId = "@Model.Id";
      var kullaniciAd = $('#txbKullaniciAd').val();
      var kullaniciSoyad = $('#txbKullaniciSoyad').val();
      var kullaniciTelefon = $('#txbKullaniciTelefon').val();
      var kullaniciSifre = $('#txbKullaniciSifre').val();
      var obj = { Id: kulllaniciId, SahipAd: kullaniciAd, SahipSoyad: kullaniciSoyad, SahipTelefon: kullaniciTelefon, SahipSifre: kullaniciSifre };
      $.ajax({
        url: '@Url.Action("KullaniciDuzenle","Kullanici")',
        type: 'post',
        data: JSON.stringify(obj),
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        success: function (result) {
          if (result == 1) {
            swal("Tebrikler!", "Kullanıcı Bilgileri Başarıyla Düzenlendi", "success").then(function () {
              location.reload();
            });
          }
        },
        error: function (err) {
          console.error(err.statusText);
        }
      });
    });
  });
</script>
}